.listado-productos {
    background-color: #f3f3f3;
}
.contenedor {
    max-width: 1200px;
    width: 95%;
    padding: 5rem 0;
    margin: 0 auto;
    background-color: #FFF;
}
.bg-white {
    background-color: #FFF;
}